body {
    position: relative;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.body-picture-bg::before{
     filter: blur(1px);
     -moz-filter: blur(1px);
     -webkit-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
}
.body-picture-bg {
    background: url(../../app/images/bd-bg.jpg);
}

.body-picture-bg.bg\:transparent-primary {
    background-size: cover;
    background-color: rgba(0, 51, 255, 0.63);
    background-blend-mode: multiply;
}

.body-picture-bg.bg\:transparent-dark {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.63);
    background-blend-mode: multiply;
}

main {
    flex: 1;
}

footer {
    padding: 5px;
    display: block;
}
.cursor-pointer {
    cursor: pointer  !important;
}
.cursor-default {
    cursor: default !important;;
}
.app-container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}
.text-bg-dark {
    color: #fff !important;
    background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;
}
/* search dropdown */
.search-dropdown {
    width: 100%;
    height: 100%;
    position: fixed !important;
    top: 60px !important;
    background:  rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    z-index: 105;
    display: none;   
    outline: 0;
}

.search-dropdown .search-dialog {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    max-width: 540px;
}

.search-dropdown.show {
    transition: transform .3s ease-out;
    transform: translate(0, -10px);
}

.nav-menu div.menu {
    border-radius: .37rem;
}

.app-form {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    place-items: center;
    justify-content: center;
    background-color: inherit;
}

.input-group-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.input-group-icon-left-align{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;    
}
.form-group{
    position: relative;
    width: 100%;
}
.form-outline {
    position: relative;
    width: 100%
}

.form-outline .form-control {
    min-height: auto;
    width: 100%;
    padding-top: .32rem;
    padding-bottom: .32rem;
    padding-left: .75rem;
    padding-right: .75rem;
    border: 0;
    border-radius: 4px;
    outline: 1px solid #939393;
    background: rgba(0, 0, 0, 0);
    transition: all .2s linear
}

.form-select {
    min-height: auto;
    width: 100%;
    padding-top: .32rem;
    padding-bottom: .32rem;
    padding-left: .75rem;
    padding-right: .75rem;
    border: 0;
    border-radius: 4px;
    outline: 1px solid #939393;
    /* background: rgba(0, 0, 0, 0); */
    transition: all .2s linear
}

.form-outline .form-control~.form-label {
    position: absolute;
    top: -2px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    left: .75rem;
    padding-top: .37rem;
    pointer-events: none;
    transform-origin: 0 0;
    transition: all .2s ease-out;
    color: var(--mdb-form-label-color);
    margin-bottom: 0
}

.form-outline .form-control:focus {
    box-shadow: none !important;
    background-color: #fff;
    outline: 1px solid #0d6efd;
}

.form-outline .form-control:focus~.form-label,
.form-outline .form-control.has-value~.form-label {
    /* background-color: inherit; */
    background-color: #fff;
    transform: translateY(-0.85rem) translateY(0.1rem) scale(0.85);
}

.form-outline .form-control:focus~.form-label {
    color: #0d6efd;
    padding: 0 .1rem 0 .1rem;
    background-color: #fff;
    width: min-content;
    /* padding: 0 auto !important; */
}